<appSettings>
	<add key="ida:AppID" value="1c53992d-7f22-4ff3-b77d-86e96d5bfaa6" />
	<add key="ida:AppSecret" value="yr38Q~15OLNhqS_vRMHA1GMPyZAyFfTv7_Ujbcta" />
	<add key="ida:RedirectUri" value="https://localhost:44350/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read" />
	<add key="ida:TenantId" value="f49a6b48-6f44-4f67-a4a6-07d3dd5e0bd7" />

</appSettings>